*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*Navigation Bar styling begins here*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: sans-serif;
    transition: all .3s ease;

}
.navbar.sticky{
    background: rebeccapurple;
    padding: 15px 0;
}
.navbar .menu li a{
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    margin-left: 35px;
    transition: color .3s ease;
    
}
.navbar .brand a{
    color: #fff;
    font-size: 30px;
    font-weight: 500;

}
.navbar .brand a span{
    color: rebeccapurple;
}
.navbar.sticky .brand a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a:hover{
    color: rebeccapurple;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*<< Please note that the styling of the homepage starts here >>*/
.home{
    display: flex;
    background: black no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: verdana;
}
.home .max-width{
    margin: auto 0 auto 40px;

}
.home .content .first-text{
    font-size: 27px;
    text-transform: capitalize;
}
.home .content .second-text{
    font-size: 65px;
    font-weight: 500;
    margin-left: -3px;
}
.home .content .third-text{
    font-size: 40px;
    margin: 5px 0;
}
.home .content .third-text span{
    color: rebeccapurple;
    font-weight: 500;
}
.home .content a{
    display: inline-block;
    background: rebeccapurple;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 7px solid rebeccapurple;
    transition: all .3s ease;
}
.home .content a:hover{
    color: rebeccapurple;
    background: none;
}

/*Similar Content Styles*/
section{
    padding: 100px 0;
}

/*About Section Styles*/
.about{
    background:lemonchiffon;
}
.about, .services{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 65px;
    font-family: sans-serif;
    text-decoration: underline;
}
.about .about-content,
.services .servs-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .column-left{
    width: 45%;
}
.about .about-content .column-left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .column-right{
    width: 55%;
}
.about .about-content .column-right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .column-right .text span{
    color: rebeccapurple;
}
.about .about-content .column-right p{
    text-align: justify;
}
.about .about-content .column-right a{
    display: inline-block;
    background: rebeccapurple;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 7px solid rebeccapurple;
    transition: all .3s ease;
}
.about .about-content .column-right a:hover{
    color: rebeccapurple;
    background: none;
}

/*Services Styling*/
.services{
    background: black;
    color: #fff;

}
.services .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 65px;
    font-family: sans-serif;
    text-decoration: underline;
}
.services .servs-content .card{
    width: calc(33% - 20px);
    background: rebeccapurple;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}


































/*Responsive Media starts here*/
@media(max-width: 1300px){
    .max-width{
        padding: 0 50px;
    }
}

@media(max-width: 1000px){
    .about .about-content .column-left img{
        height: 350px;
        width: 350px;
    }

    .navbar .menu{
        position: fixed;
        background: #111;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        padding-top: 80px;
        text-align: center;
    }

    .navbar.menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;

    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .content .second-text{
        font-size: 70px;
    }

    .home .content .third-text{
        font-size: 35px;
    }

    .home .content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .about .about-content .column{
         width: 50%;
    }

    .about .about-content .column-left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .max-width{
        max-width: 800px;
    }

    .about .about-content .column-right{
        flex: 100%;

    }
}